/* 주요 컬러
    0d539a 
    002339
    */
    head, body, header, footer, main, div, section, nav, ul, li, dl, dt, dd, img, h1, h2, h3, html, br, span, p, address {
        margin: 0px;
        padding: 0;
        border: 0;
        font-size: 14px;
        font: inherit;
        vertical-align: baseline;
    }
    div, section, nav, footer, header h1{
        display: block;
    }
    ol, ul {
        list-style: none;
    }
    body{
        font-family:"돋움","나눔고딕", "맑은 고딕";
    }
    address{
        font-style:normal; 
    }
    a{
        text-decoration:none;
        color:#000;
        background-color: transparent
    }
    .blind{
        position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden
    }




/* =====================reset================ */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body{ 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}

.header{
    height:149px;
    background:white;
    position:relative;
    border-top:1px solid white;
}
.header_wrap{
    width:1200px;
    height:149px;
    margin:auto;
    position:relative
}
.main_logo{
    width:86px;
    height:58px;
    background:url(../images/logo_03.jpg);
    position:absolute;
    top:28px;
    left:55px;
    text-indent:-9999px;
}
.nav{
    height:49px;
    width:100%;
    background:white;
    border-bottom:1px solid #002339;
    border-top:1px solid #002339;
    position:absolute;
    bottom:0;
    
}
.nav ul{
    display:flex;
    flex-direction:row nowrap;
    justify-content:space-around;
    width:1200px;
    margin:auto
    
}

.gnb1{
    height:49px;
    width:107px;
    background:url(../images/gnbmenu_19.jpg) no-repeat;
    text-indent:-9999px;
    
}
.gnb2{
    height:49px;
    width:157px;
    background:url(../images/gnbmenu_21.jpg) no-repeat;
    text-indent:-9999px;
}
.gnb3{
    height:49px;
    width:141px;
    background:url(../images/gnbmenu_23.jpg) no-repeat;
    text-indent:-9999px;
}
.gnb4{
    height:49px;
    width:151px;
    background:url(../images/gnbmenu_25.jpg) no-repeat;
    text-indent:-9999px;
}
.gnb5{
    height:49px;
    width:125px;
    background:url(../images/gnbmenu_27.jpg) no-repeat;
    text-indent:-9999px;
}
.top_menu1{
    width:auto;
    height:30px;
    position:absolute;
    top:57px;
    left:190px;
}
.top_open{
    width:202px;
    height:29px;
    background:url(../images/topleft_06.jpg) no-repeat;
    float:left;
    margin-right:18px;
    text-indent:-9999px;
}
.top_buy{
    width:147px;
    height:29px;
    background:url(../images/topleft_08.jpg) no-repeat;
    float:left;
    text-indent:-9999px
}
.top_menu2{
    width:120px;
    height:45px;
    position:absolute;
    right:45px;
    top:9px
}
.top_mapg{
    width:49px;
    height:45px;
    background:url(../images/topright_03.jpg) no-repeat;
    float:left;
    text-indent:-9999px;
}
.top_lang{
    width:60px;
    height:45px;
    background:url(../images/topright_05.jpg) no-repeat;
    float:right;
    text-indent:-9999px;
}
/* ================login_box============= */
.content{
    width:100%;
    height:800px;
    position:relative;
    padding-top:50px;
    background:#75ace2;
}
.login_bx{
    width:500px;
    height:750px;
    background:white;
    margin:auto;
    box-shadow: 1px 1px 5px;
    padding-top:120px;
    box-sizing:border-box;
}
.logo_wrap p{
    margin:5px auto;
    color:#0d539a;
    font-weight:bold;
    width:205px;
    
    font-size: 18px;
   
}
.login_logo{
    background:url(../images/logo_03.jpg) no-repeat;
    width:86px;
    height:58px;
    text-indent:-9999px;
    margin:auto;
}
.form_bx{
    width:500px;
    height:200px;
    margin:10px auto;
    box-sizing:border-box;

    border:none;
   
}
input{
    height:30px;
    font-size:20px;
    margin:auto;
    position:relative;
    top:15px;
    left:30px;
    margin:5px 0;
    border:#002339 2px solid;
}
.err{
    color:red;
    font-size:14px;
    position:relative;
    top:20px;
    left:160px;
    
}
.id_span{
    display:inline-block;
    width:80px;
    text-align:center;
    position:relative;
    top:15px;
    left:30px;
}
.pwd_span{
    display:inline-block;
    width:80px;
    text-align:center;
    position:relative;
    top:15px;
    left:30px;
}
.btn_bx button span{
    color:white;
    font-size:20px;
    position:relative;
    top: 2px;
    left:0px;
}
.btn_bx{
    width:260px;
    margin:auto;
    position:relative;
}
.btn_bx button{
    margin-top:35px;
    width:260px;
    height:45px;
    background:#0d539a;
    border-radius:10px;
    outline:none;
    border:none;
    transition: 0.3s;
}
.btn_bx button:hover{
    background:#75ace2;
    color:#002339;
    
}
.btn_bx span{
    font-size:22px
}
table{
    border-collapse:separate;
    margin:auto
}

td {
    height:30px
}
.input_id{
    background:#0d539a;
    color:white;
    text-align:center;
    border-radius:10px;
}

.join_menu{
    width:193px;
    height:25px;
    margin:10px auto 15px;
    font-size:14px
}
.join_menu1{
    float:left;
}
.join_menu2{
    float:right;
}
.join_menu1:after{
    content:"|";
    margin-left:3px;
    margin-right:5px
}  
.sns{
    width:220px;
    height:70px;
    text-align:center;
    margin:auto;
    
}
.sns dt{
    margin:40px auto 20px;
    font-size:14px
}
.katok{
    background:url(../images/snslogin_03.jpg) no-repeat;
    width:56px;
    height:56px;
    float:left;
    text-indent:-9999px;
    margin-right:26px
}
.fbook a{
    display:block;
    background:url(../images/snslogin_07.jpg) no-repeat;
    width:56px;
    height:56px;
    float:left;
    text-indent:-9999px;
    margin-right:26px;
    
}
.naver a{
    display:block;
    background:url(../images/snslogin_05.jpg) no-repeat;
    width:56px;
    height:56px;
    float:left;
    text-indent:-9999px;
}
.footer{
    height:192px;
    width:1200px;
    margin:auto;
    background:white;
    position:relative;
}

.footer_logo{
    width:86px;
    height:58px;
    background:url(../images/logo_03.jpg) no-repeat;
    position:absolute;
    top:55px;
    left:45px;
    text-indent:-9999px
}

.footer_intro{
    height:18px;
    width:700px;
    display:flex;
    justify-content:space-between;
    position:absolute;
    top:42px;
    left:162px;
    font-size:15px
}
.etc{
    width:635px;
    height:52px;
    position:absolute;
    top:83px;
    left:162px;
    font-size:14px
}
.etc_pt1{
    width:700px;
    height:14px;
    display:flex;
    justify-content:space-between;
}
.etc_pt2{
    width:460px;
    height:14px;
    display:flex;
    justify-content:space-between;
    margin-top:5px;
}
.copy{
    width:500px;
    height:14px;
    margin-top:5px
}

.footer_more{
    position:absolute;
    top:42px;
    right:42px
}
.footer_more h2{
    background:url(../images/footermore_121.jpg) no-repeat;
    width:192px;
    height:36px;
    text-indent:-9999px;
    position:relative

}
.footer_more h2>a{
    display:block;
    background:url(../images/back_arr_124.png) no-repeat;
    width:10px;
    height:10px;
    text-indent:-9999px;
    display:block;
    position:absolute;
    top:12px;
    right:17px;
    z-index:9
}
.fam_list{
    width:192px;
    height:80px;
    background:rgb(44, 44, 44);
    box-sizing:border-box;
    padding-left:10px;
    padding-top:5px;
    color:white;
    overflow-y:scroll;
    font-size:16px;
}
.fam_list li{
    margin-bottom:3px;
}


.isms_bx{
    width:220px;
    height:33px;
    font-size:11px;
    position:absolute;
    top:100px;
    right:42px;
}
.isms_logo{
    background:url(../images/ismslogo_129.png) no-repeat;
    text-indent:-9999px;
    width:31px;
    height:29px
}
.isms_bx div{
    width:175px;
    height:33px;
    position:absolute;
    top:0;
    right:0
}


