/* 주요 컬러
    0d539a 
    002339
    */
    head, body, header, footer, main, div, section, nav, ul, li, dl, dt, dd, img, h1, h2, h3, h4, html, br, span, p, address {
        margin: 0px;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        style:none
    }
    div, section, nav, footer, header h1{
        display: block;
    }
    ol, ul {
        list-style: none;
    }
    body{
        font-family: "Spoqa Han Sans Neo", "sans-serif", "돋움","나눔고딕", "맑은 고딕";
    }
    address{
        font-style:normal; 
    }
    a{
        text-decoration:none;
        color:#000;
        background-color: transparent
    }
    .blind{
        position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden
    }




/* =====================reset================ */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.gre333{
    color:white;
    background:#333;
    border: 2px solid #333;
}

/* ========================main=================/ */
.banner{
    width:auto;
    height:550px;
    width:auto;
    background:white;
    padding-top:110px;
    margin:auto;
    position:relative;
    color:white;
    border-bottom:1px solid #002339;
}
.banner_img{
    background:url(../images/sub1_banner_03.jpg) no-repeat;
    width:988px;
    height:417px;
    margin:auto;
    
}
.banner>div{
    height:550px;
    width:1200px;
    margin:auto;
    position:relative;
    
}
.banner div>div:nth-child(2){
    width:382px;
    height:372px;
    background:#002339;
    position:absolute;
    top:20px;
    left:0px;
    padding:60px 0 0 25px;
    box-sizing:border-box;
}

.banner div>h2{
    font-size:33px;
    margin-bottom:43px;
    line-height:50px;
}
.banner span{
    color:#ff906e
}
.banner p{
    font-size:27px;
    line-height:40px;
}









/* 가이드헤더 */
.guide_header{
    text-align:center;
}
.guide_header h2{
    font-size:26px;
    margin-bottom:10px;
}

.guide_header>div{
    height: 20px;
}
.guide_header ul{
    height:20px;
    margin:auto;
    width:220px;
    text-align:center;
}
.guide_header li{
    float:left;
}
.guide_header li:first-child::after{
    content:'|';
    margin:0 10px;
}



/* 개인정보 파트 */
.signup_wrap{
    position:absolute;
    width:1600px;
    left:50%;
    margin-left:-800px;
    /* display:none; */
}
.info_modify_page{
    background:white;
    height:100%;
    margin:30px auto;
}
.info_title{
    font-style:none;
    text-align:center;
    font-size:20px;
    margin:30px auto;
}
fieldset{
    width:600px;
    margin:auto;
    border:none;
}
table{
    border-collapse:collapse;
    margin:auto;
    width:450px;
}
.info_table tr>td:first-child{
    width:120px;
    text-align:center;
    background:royalblue;
    border:2px solid white;
    color:white;
}
.info_table tr>td:last-child{
    padding-left:20px;
    height:100%;
    padding:15px;
}

input:focus{
    border:3px solid #002339;
    outline:none;
}

/* 에러 출력 */
.err_txt{
    color:red;
    font-size:14px;
}
.right_txt{
    color: green;
    font-size:14px;
}
.nothing{
    color:red;
    font-size:14px;
}
p{
    position:relative;
}





/* modify_info */
.id_check:hover{
    box-shadow: 0 4px 5px rgb(171, 202, 255);
    border:none;
    transition: all 0.1s;
}

.id_check span{
    color:white;
    margin-bottom:30px;
    display:block;
}

.id_must{
    background:white;
    font-size:22px;
}
.id_sub{
    background:white;
    font-size:22px;
    display:block;
    margin-top:30px;
}

.pt1_bx p{
    margin-top:30px;
    position:relative;
}
.bx1{
    width:240px;
    height:25px;
}


.btn_bx{
    width:300px;
    margin:auto;
    
}
.mobile_box{
    margin-bottom:30px;
}
.timer{
    width:50px;
    height:25px;
    margin-left:80px;
    background:white;
    font-size:18px;
    font-weight:bold;
}

.page_moving{
    width:300px;
    height:50px;
    margin:auto;
    margin-bottom:100px;
}
.page_moving2{
    width:400px;
    margin:30px auto;
    display:flex;
    justify-content:space-between;
}
.page_moving2 button{
    background:white;
    color:#333;
    outline:none;
    border:1px solid #333;;
    font-weight: bold;
    cursor:pointer;
    font-size:14px;
    width:100px;
    height:30px;
}



.check_box {
    width:350px;
    height:270px;
    border-top: 2px double #0d539a;
    border-bottom: 2px double #0d539a;
}
.espan{
    font-size:14px;
}

.emailbx1{
    width:150px;
    height:25px;
}
.emailbx2{
    width:100px;
    height:25px;
}
.email_wrap{
    position:relative;
    
}
.email_list{
    position:relative;
    left:180px;
    bottom:-5px;
    width:105px;
    height:20px;
}
.ps_code{
    height:25px;
    width:70px;
}
.address_check{
    position:relative;
    top:0;
    right:-20px;
    line-height:25px;
    border: 2px solid black;
    border-radius: 5px;
    background:white
}
.address_check:hover{
    color:#333;
    background: white;
    border: 2px solid white;
}
.addrtxt{
    font-size:16px;
}
.nick_span{
    font-size:14px;
}


/* paid_info_page */
.paid_info_page{
    width:1100px;
    background:white;
    height:100%;
    margin:30px auto;
    position:absolute;
    top:50px;
    left:50%;
    margin-left:-550px;
}
.paid_info_page h3{
    font-size:26px;
    text-align:center;
    margin:50px 0 30px;
}
.paid_info_page h4{
    margin:0 0 10px;
}
.search_bar{
    width:300px;
    position:absolute;
    right:0;
    top:115px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    right:0;
    line-height:24px;
}
.search_bar.search2{
    bottom:360px;
}
.search_bar input{
    height:24px;

}
.search_bar select{
    height:30px;
}
.search_bar span{
    width:24px;
    height:24px;
    font-size:24px;

}


/* 티켓구매내역 */
.ticket_table{
    margin:50px auto;
}
.ticket_table th{
    border-bottom:1px solid #333;
    height:40px;
    line-height:40px;
    text-align:center;
    background-color:#333;
    color:white;
    font-weight: 400;
}
.ticket_table td{
    height:35px;
    line-height:35px;
}
.calc{
    width:1000px;
    margin:10px auto 50px;
    display:flex;
    justify-content:space-between;
    font-size:20px;

}

