body{font-size:20px}
.content{
  height:100%;
}
.banner{
  width:auto;
  height:550px;
  width:auto;
  background:#333;
  padding-top:110px;
  margin:0 auto 50px;
  position:relative;
  color:white;
  border-bottom:1px solid #002339;
}
.banner_img{
  background:url(../images/sub1_banner_03.jpg) no-repeat;
  width:988px;
  height:417px;
  margin:auto;
  
}
.banner>div{
  height:550px;
  width:1200px;
  margin:auto;
  position:relative;
  
}
.banner div>div:nth-child(2){
  width:382px;
  height:372px;
  background:#002339;
  position:absolute;
  top:20px;
  left:0px;
  padding:60px 0 0 25px;
  box-sizing:border-box;
}

.banner div>h2{
  font-size:33px;
  margin-bottom:43px;
  line-height:50px;
}
.banner span{
  color:#ff906e
}
.banner p{
  font-size:27px;
  line-height:40px;
}
.write_area{
  width:950px;
  margin:40px auto 5px;
  display:flex;
  justify-content:space-between;
}
.write_area span:first-child{
  font-size:18px;
}
.write_area span:last-child{
  font-size:30px;
}

.table_wrap{
  position:relative;
}
.table_wrap h2{
  font-size:30px;
}
.board_info_bar{
  display:flex;
  justify-content: space-between;
  width:950px;
  margin:auto;
}
.board_info_bar .category_bar{
  height:30px;
  position:relative;
  top:40px;
  right:0;
}



table, td{
    border-collapse:collapse
}
th, td{
    padding:10px;
    font-size:16px;
    text-align:center;
    height:30px;
}
td{
  height:25px;
}
th{
    border-top:2px solid;
    border-bottom:2px solid;
    background-color:royalblue;
    color:white;
}
.colorObj_grey{
    display:inline-block;
    width:90px;
    height:30px;
    line-height:30px;
    border-radius:30px;
    color: white;
    background: rgb(124, 170, 255);
}
.colorObj_blue{
    display:inline-block;
    width:90px;
    height:30px;
    line-height:30px;
    border-radius:30px;
    color: white;
    background: rgb(255, 212, 119);
}
.colorObj_red{
    display:inline-block;
    width:90px;
    height:30px;
    line-height:30px;
    border-radius:30px;
    color: white;
    background: rgb(255, 140, 159);
}

.aqua_notice_set{
    width:950px;
    margin:0 auto 15px;
    
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}

.aqua_notice_title{
    border-top:2px solid #999;
    border-bottom:1px solid #999
}
.aqua_notice_content{
    border-bottom:1px solid #999;
}

.no{width: 5%;}
.n_head{width: 10%;}
.n_title{width: 30%;}
.writer{width: 10%;}
.n_date{width: 10%;}
.view{width: 6%;}
.likes{width: 6%;}

.pager{
    margin:15px auto 100px;
    width:1100px;
    text-align:center;
    font-size:16px;
    
}
h2 {
    margin:20px auto;
    text-align:center;
}