/* 주요 컬러
    0d539a 
    002339
    */
    head, body, header, footer, main, div, section, nav, ul, li, dl, dt, dd, img, h1, h2, h3, html, br, span, p, address {
      margin: 0px;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  div, section, nav, footer, header h1{
      display: block;
  }
  ol, ul {
      list-style: none;
  }
  body{
      font-family:'Spoqa Han Sans Neo', 'sans-serif', "돋움","나눔고딕", "맑은 고딕";
  }
  address{
      font-style:normal; 
  }
  a{
      text-decoration:none;
      color:#000;
      background-color: transparent
  }
  .blind{
      position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden
  }
  .inner{
      width:1100px;
      margin:auto;
      position:relative;
  }
  
 




/* =====================reset================ */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);