
/* ========================main=================/ */


.content{
    height:3800px;
}

.banner{
    width:auto;
    height:550px;
    width:1200px;
    background:white;
    padding-top:110px;
    margin:auto;
    position:relative;
    color:white;
}
.banner_img{
    background:url(../images/sub1_banner_03.jpg) no-repeat;
    width:988px;
    height:417px;
    margin:auto;
    
}
.banner div:nth-child(2){
    width:382px;
    height:372px;
    background:#002339;
    position:absolute;
    top:136px;
    left:21px;
    padding:60px 0 0 25px;
    box-sizing:border-box;
}

.banner div>h2{
    font-size:33px;
    margin-bottom:43px;
    line-height:50px;
}
.banner span{
    color:#ff906e
}
.banner p{
    font-size:27px;
    line-height:40px;
}



.part1{
    width:auto;
    height:1555px;
    background:#002339;
    box-sizing:border-box;
}
.part1>div{
    width:1020px;
    margin:auto;
    padding-top:40px;
    position:relative;
    
}
.part1 h2{
    color:white;
    font-size:28px;
    margin-bottom:30px;
}

.bel_wrap{
    width:1020px;
    height:427px;
    background:rgb(250, 250, 250);
    margin:0px auto 50px;
    color:#002339;
    position:relative;
    box-sizing:border-box;
}
.bel_img{
    width:593px;
    height:427px;
    background:url(../images/bel_img_07.jpg) no-repeat center;
    transition: 0.7s ease;
}

.bel_wrap h3{
    font-size:30px;
    margin-bottom:32px
}
.bel_wrap h3>span{
    font-size:48px;
    color:#0d539a;
    font-weight:bold;
    margin-bottom:32px
}
.part1_p1{
    font-size:24px;
    margin-bottom:20px;
    line-height:36px
}
.part1_p2{
    font-size:18px;
    line-height:27px;
}
.bel_wrap div:nth-child(2){
    position:absolute;
    right:30px;
    top:32px;
}
/*CA sealion*/
.sealion_wrap{
    width:1020px;
    height:427px;
    background:rgb(250, 250, 250);
    margin:0px auto 50px;
    color:#002339;
    position:relative;
    box-sizing:border-box;
}
.sealion_img{
    width:593px;
    height:427px;
    background:url(../images/main_sealion_02.jpg) #000 no-repeat center;
    transition: 0.7s ease;
}
.ca_textbx{
    position:relative;
    left:10px;
    width:380px;
}
.sealion_wrap h3{
    font-size:30px;
    margin-bottom:32px
}
.sealion_wrap h3>span{
    font-size:48px;
    color:#0d539a;
    font-weight:bold;
    margin-bottom:32px
}
.part1_p3{
    font-size:24px;
    margin-bottom:32px;
    line-height:36px;
    position:relative;
    line-height:36px;
    top:100px;
}
.part1_p4{
    font-size:18px;
    line-height:27px;
    position:relative;
    line-height:27px;
    top:80px;
}
.sealion_wrap div:nth-child(2){
    position:absolute;
    right:30px;
    top:32px;
}
/*phoca*/
.phoca_wrap{
    width:1020px;
    height:427px;
    background:rgb(250, 250, 250);
    margin:0px auto 50px;
    
    color:#002339;
    position:relative;
    box-sizing:border-box;
}
.phoca_wrap h3{
    font-size:30px;
    margin-bottom:32px
}
.phoca_img{
    width:593px;
    height:427px;
    background:url(../images/harborseal_01.jpg) center no-repeat;
    
    transition: 0.3s ease;
}
.phoca_textbx{
    position:relative;
    left:10px;
    width:380px;
    padding-top:40px;
}


.phoca_wrap h3{
    font-size:30px;
    margin-bottom:32px
}
.phoca_wrap h3>span{
    font-size:48px;
    color:#0d539a;
    font-weight:bold;
    margin-bottom:32px
}
.part1_p5{
    font-size:24px;
    margin-bottom:32px;
    line-height:36px;
    position:relative;
    line-height:36px;
    top:100px;
}
.part1_p6{
    font-size:18px;
    line-height:27px;
    position:relative;
    line-height:27px;
    top:80px;
}
.phoca_wrap div:nth-child(2){
    position:absolute;
    right:150px;
    top:10px;
}

.btn2_wrap{
    position:absolute;
    bottom:418px;
    left:-65px;
    width:1150px;
    height:50px
    
}
.part2_prev{
    display:none;
    float:left;
}
.part2_next{
    display:show;
    float:right;
}


/* ==============part2===================/ */

.part2_wrap{
    width:1020px;
    height:900px;
    overflow:hidden;
    position:relative;
    
    
}

.part2{
    width:1020px;
    height:900px;
    float:left;
    position:absolute;
    top:0;
    left:0;
}
.part2bx1 dl{
    float:left;
}
.part2bx1 dl:not(:last-child){
    float:left;
    margin-right:30px;
}
.part2bx2 dl{
    float:left;
}
.part2bx2 dl:not(:last-child){
    float:left;
    margin-right:30px;
}
.part2 dl{
    width:320px;
    height:430px;
    margin-bottom:30px;
    position:relative;
    
}
.part2 dt{
    width:320px;
    height:205px;
    margin-bottom:20px;
    
}
.part2 span{
    display:block;
    position:absolute;
    top:224px;
    font-size:22px;
    left:25px;

}
.pt2_img1{
    background:url(../images/pt2_simg_03.jpg) no-repeat #fff}
.pt2_img2{
    background:url(../images/pt2_simg_05.jpg) no-repeat #fff
}
.pt2_img3{
    background:url(../images/pt2_simg_07.jpg) no-repeat
    #fff}
.pt2_img4{
    background:url(../images/pt1_simg_13.jpg) no-repeat
    #fff}
.pt2_img5{
    background:url(../images/pt1_simg_15.jpg) no-repeat
    #fff}
.pt2_img6{
    background:url(../images/pt1_simg_17.jpg) no-repeat
    #fff}
.part2 dd:nth-child(2){
    font-size:18px;
    margin:57px 0 0 25px;
    color:#0d539a
}
.part2 dd:nth-child(3){
    font-size:16px;
    margin:20px 0 0 25px
}



.part2_2{
    width:320px;
    height:900px;
    position:absolute;
    top:0;
    left:1050px;
    float:left;
    
}
.pt22_img1{
    background:url() no-repeat #fff}
.pt22_img2{
    background:url() no-repeat #fff
}

.part2_2 dl{
    width:320px;
    height:430px;
    margin-bottom:30px;
    position:relative;
    
}
.part2_2 dt{
    width:320px;
    height:205px;
    margin-bottom:20px;
    
}
.part2_2 span{
    display:block;
    position:absolute;
    top:224px;
    font-size:22px;
    left:25px;
}
.part2_2 dd:nth-child(2){
    font-size:18px;
    margin:57px 0 0 25px;
    color:#0d539a
}
.part2_2 dd:nth-child(3){
    font-size:16px;
    margin:20px 0 0 25px
}



.pt3{
    height:1480px;
    width:1200px;
    background:white;
    padding-top:35px;
    box-sizing:border-box;
    margin:50px auto 0;
}
.floor_intro{
    width:1200px;
    height:250px;
    margin:0 auto 10px;
    
}

.pt3 h3{
    font-size:28px;
    color:#002339;
    margin-bottom:20px
}
.pt3 li{
    width:228px;
    height:228px;
    position:relative;
    float:left;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-top-left-radius:10px;
    font-size:14px;
    
}
.pt3 li:not(:last-child){
    margin-right:15px;
}

.pt3 a{
    display:block;
    background:rgb(255, 255, 255);
    color:#002339;
    position:absolute;
    bottom:0;
    right:0;
    font-size:20px;
    line-height:40px;
    width:150px;
    height:30px;
    text-align:center;
    border-top-left-radius:10px;
}

.zone_img1{
    background:url(../images/zone_img_23.jpg) no-repeat left;
    
    
}
.zone_img2{
    background:url(../images/zone_img_25.jpg) no-repeat top;
    
}
.zone_img3{
    background:url(../images/zone_img_27.jpg) no-repeat center top;
    
}
.zone_img4{
    background:url(../images/touchmini_02.jpg) black no-repeat;
    
}
.zone_img5{
    background:url(../images/belmini_02.jpg) black no-repeat;
   
}

.expl_flow{
    width:1200px;
    height:600px;
    overflow:hidden;
}
.expl_bx{
    width:500%;
    height:600px;
    margin:0 auto 120px;
    position:relative;
    left:0;
}
.expl_bx dl{
    width:1200px;
    height:600px;
    position:relative;
    
}
.rain_zone{
    width:1200px;
    height:600px;
    background:url(../images/rain1_03.jpg) no-repeat left rgb(10, 10, 10);
    position:absolute;
    top:0;
    left:0;
    float:left;
    
}
.life_zone{
    width:1200px;
    height:600px;
    background:url(../images/Untitled-1_02.jpg) no-repeat left  rgb(10, 10, 10);
    position:absolute;
    top:0px;
    left:0;
    float:left;
    
}
.ocean_zone{
    width:1200px;
    height:600px;
    background:url(../images/bluetang_02.jpg) no-repeat left  rgb(10, 10, 10);
    position:absolute;
    top:0;
    left:0;
    float:left;
   
}
.play_zone{
    width:1200px;
    height:600px;
    background:url(../images/touchful.jpg) no-repeat left  rgb(10, 10, 10);
    position:absolute;
    top:0;
    left:0;
    float:left;
    
}
.bel_zone{
    width:1200px;
    height:600px;
    background:url(../images/bel_02.jpg) no-repeat left  rgb(10, 10, 10);
    position:absolute;
    top:0;
    left:0;
    float:left;
    
}

.expl_bx dl dd{
    width:300px;
    height:600px;
    position:absolute;
    right:0;
    top:0;
    Padding:40px 15px;
    background:rgb(10, 10, 10, 0.6);
    box-sizing:border-box;
    color:white;
}
.spt1{
    font-size:28px;
    margin-bottom:20px;
    display:block;
    line-height:42px;
}
.spt2{
    font-size:26px;
    color:#2187ec;
    display:block;
    margin-bottom:10px;
}
.spt3{
    font-size:20px;
    display:block;
    line-height:35px;

}






.special_floor{
    width:980px;
    height:425px;
    background:white;
    margin:auto;
    
}
.special1{
    width: 480px;
    height: 475px;
    background:url(../images/specail_floor_36.jpg) no-repeat white;
    float:left;
    position:relative;
    padding-left:10px;
}

.special1 div{
    position:absolute;
    top:300px;
    left:10px;
}
.special1 div>dt{
    font-size:22px;
}
.special1 hr{
    width:450px;
    height:3px;
    background:#002339;
    border:0;
    margin:10px auto 20px
}
.special1 div>dd{
    font-size:22px;
    line-height:33px;
}

.special2{
    width: 480px;
    height: 477px;
    background:url(../images/specail_floor_33.jpg) no-repeat white;
    float:right;
    position:relative;
    padding-left:10px;
}
.special2 div{
    position:absolute;
    top:300px;
    left:10px;
}
.special2 div>dt{
    font-size:22px;
}
.special2 hr{
    width:450px;
    height:3px;
    background:#002339;
    border:0;
    margin:10px auto 20px
}
.special2 div>dd{
    font-size:22px;
    line-height:33px;
}







.footer{
    height:192px;
    width:1200px;
    margin:auto;
    background:white;
    position:relative;
}

.footer_logo{
    width:86px;
    height:58px;
    background:url(../images/logo_03.jpg) no-repeat;
    position:absolute;
    top:55px;
    left:45px;
    text-indent:-9999px
}

.footer_intro{
    height:18px;
    width:700px;
    display:flex;
    justify-content:space-between;
    position:absolute;
    top:42px;
    left:162px;
    font-size:15px
}
.etc{
    width:635px;
    height:52px;
    position:absolute;
    top:83px;
    left:162px;
    font-size:14px
}
.etc_pt1{
    width:700px;
    height:14px;
    display:flex;
    justify-content:space-between;
}
.etc_pt2{
    width:460px;
    height:14px;
    display:flex;
    justify-content:space-between;
    margin-top:5px;
}
.copy{
    width:500px;
    height:14px;
    margin-top:5px
}

.footer_more{
    position:absolute;
    top:42px;
    right:42px
}
.footer_more h2{
    background:url(../images/footermore_121.jpg) no-repeat;
    width:192px;
    height:36px;
    text-indent:-9999px;
    position:relative

}
.footer_more button{
    display:block;
    background:url(../images/back_arr_124.png) no-repeat;
    width:10px;
    height:10px;
    text-indent:-9999px;
    display:block;
    position:absolute;
    top:12px;
    right:17px;
    z-index:9;
    border:none;

}
.fam_list{
    width:192px;
    height:80px;
    background:rgb(44, 44, 44);
    box-sizing:border-box;
    padding-left:10px;
    padding-top:5px;
    color:white;
    overflow-y:scroll;
    font-size:16px;
    position:absolute;
    bottom:37px;
    display:none;
}
.fam_list li{
    margin-bottom:8px;
}


.isms_bx{
    width:220px;
    height:33px;
    font-size:11px;
    position:absolute;
    top:100px;
    right:42px;
}
.isms_logo{
    background:url(../images/ismslogo_129.png) no-repeat;
    text-indent:-9999px;
    width:31px;
    height:29px
}
.isms_bx div{
    width:175px;
    height:33px;
    position:absolute;
    top:0;
    right:0
}